/* ===================================
   ICECORE HEADER
=================================== */

.masthead{

    position:sticky;

    top:0;

    z-index:999;

    background:#fff;

    border:0;

    box-shadow:0 1px 12px rgba(0,0,0,.05);

}

.masthead__inner-wrap{

    max-width:1450px;

    height:78px;

    margin:auto;

    padding:0 45px;

}

/* LOGO */

.site-logo{

    display:flex;

    align-items:center;

}

.site-logo img{

    display:block;

    height:44px;

    width:auto;

}

/* skryj text IceCore Dynasty */

.site-title{

    display:none !important;

}

/* MENU */

.greedy-nav{

    background:transparent;

    display:flex;

    align-items:center;

    height:78px;

}

.greedy-nav .visible-links{

    display:flex;

    align-items:center;

    gap:38px;

}

.greedy-nav .visible-links a{

    font-size:13px;

    font-weight:700;

    letter-spacing:1px;

    text-transform:uppercase;

}

.greedy-nav .search__toggle{

    margin-left:30px;

}

/* hamburger */

.greedy-nav__toggle{

    height:78px;

}
