/* ===========================
   ICECORE HEADER
=========================== */

.masthead {

  position: sticky;
  top: 0;
  z-index: 999;

  background: #fff;

  border: 0;
  box-shadow: 0 1px 10px rgba(0,0,0,.05);

}

.masthead__inner-wrap{

  max-width:1400px;

  height:82px;

  margin:auto;

  padding:0 40px;

  display:flex;

  justify-content:space-between;

  align-items:center;

}

.site-logo{

  display:flex;

  align-items:center;

}

.site-logo img{

  display:block;

  height:54px;

  width:auto;

}

.site-title{

  display:none;

}

/* menu */

.greedy-nav{

  background:transparent;

}

.greedy-nav .visible-links{

  display:flex;

  align-items:center;

  gap:34px;

}

.greedy-nav .visible-links a{

  text-transform:uppercase;

  letter-spacing:1px;

  font-weight:700;

  font-size:14px;

}

.greedy-nav .search__toggle{

  margin-left:25px;

}

