.icecore-button{

display:inline-block;

margin-top:28px;

padding:14px 26px;

background:#0d5be1;

color:#fff;

font-weight:700;

border-radius:4px;

text-decoration:none;

transition:.2s;

}

.icecore-button:hover{

background:#003ea7;

color:#fff;

}
