/* ======================================
   LATEST NEWS
====================================== */

.latest-news .news-item{

    padding:18px 0;

    border-bottom:1px solid #ececec;

}

.latest-news .news-date{

    display:block;

    margin-bottom:6px;

    color:#0d5be1;

    font-size:12px;

    font-weight:700;

    letter-spacing:1px;

}

.latest-news a{

    color:#222;

    text-decoration:none;

    font-weight:600;

    line-height:1.5;

}

.latest-news a:hover{

    color:#0d5be1;

}

.more-link{

    display:inline-block;

    margin-top:22px;

    font-weight:700;

}
