<section class="highlights">

  <div class="section-heading">
    <h3>Highlights</h3>
  </div>

  {% assign highlights = site.journal
    | where: "highlight", true
    | sort: "date"
    | reverse
  %}

  {% for article in highlights limit: 3 %}

    <article class="highlight-item">

      {% if article.image %}
        <img
          src="{{ article.image | relative_url }}"
          alt="{{ article.title | escape }}"
        >
      {% endif %}

      <div class="highlight-content">

        <div class="highlight-date">
          {{ article.date | date: "%b %d" | upcase }}
        </div>

        <h4>
          <a href="{{ article.url | relative_url }}">
            {{ article.title }}
          </a>
        </h4>

      </div>

    </article>

  {% endfor %}

</section>
