<section class="latest-news">

    <div class="section-heading">
        <h3>Latest News</h3>
    </div>

    {% assign news = site.posts | where: "category", "news" %}

    {% for post in news limit:3 %}

    <article class="news-item">

        <div class="news-date">
            {{ post.date | date: "%b %d" | upcase }}
        </div>

        <div class="news-content">

            <h4>
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </h4>

            <p>
                {{ post.excerpt | strip_html | truncate: 90 }}
            </p>

        </div>

    </article>

    {% endfor %}

</section>
