---
layout: default
---

{% include icecore/hero.html %}

<div class="icecore-home">

    <section class="icecore-home-top">

        <div class="icecore-feature">

            {% include icecore/feature-story.html %}

        </div>

        <div class="icecore-highlights-column">

            {% include icecore/highlights.html %}

        </div>

        <div class="icecore-news-column">

            {% include icecore/latest-news.html %}

        </div>

    </section>



    <section class="icecore-home-bottom">

        <div class="icecore-calendar-column">

            {% include icecore/calendar.html %}

        </div>

        <div class="icecore-editors-column">

            {% include icecore/editors-pick.html %}

        </div>

        <div class="icecore-social-column">

            {% include icecore/stay-connected.html %}

        </div>

    </section>

</div>
